<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link href="/css/normalize.css">
    <link href="/css/styles.css" rel="stylesheet">    
</head>
<body>
    <header>
        <img src="/images/logo-mercado-liebre.svg" width="100%">
        <nav>Lugar para poner la barra de busqueda</nav>
        <br>
        <p>Comprá en cuotas y sin tarjeta de crédito</p>
        <ul>
            <li><a href="">Ofertas</a></li>
            <li><a href="">Tiendas Oficiales</a></li>
            <li><a href="">Vender</a></li>
            <li><a href="">Ayuda</a></li>
            <br>
            <li><a href="">Creá tu cuenta</a></li>
            <li><a href="">Ingresá</a></li>
            <li><a href="">Mis compras</a></li>
        </ul>
        <img src="/images/img-home-banner.jpg"width="100%">
    </header>
    <main>
        <section>
                <h2><strong>Basado en tu última visita</strong></h2>
                <img src="/images/img-cafetera-moulinex.jpg" width="100%">
                    <p>$6.770</p>
                    <p>40% off</p>
                    <p><strong>Cafetera Moulinex</strong></p>
                
                <img src="/images/img-macbook-pro-2019.jpg" width="100%">
                    <p>$230.000</p>
                    <p>20% off</p>
                    <p><strong>MacBook Pro 2019</strong></p>
                
                <img src="/images/img-samsung-galaxy-s10.jpg" width="100%">
                    <p>$70.500</p>
                    <p>10% off</p>
                    <p><strong>Samsung Galaxy S10</strong></p>

                <img src="/images/img-tv-samsung-smart.jpg" width="100%">
                    <p>$23.200</p>
                    <p>5% off</p>
                    <p><strong>SmartTv Samsung 43"</strong></p>  
         </section>
         <section>
            <h2><strong>Basado en tu última visita</strong></h2>
                <img src="/images/img-cafetera-moulinex.jpg" width="100%">
                    <p>$6.770</p>
                    <p>40% off</p>
                    <p><strong>Cafetera Moulinex</strong></p>
                
                <img src="/images/img-macbook-pro-2019.jpg" width="100%">
                    <p>$230.000</p>
                    <p>20% off</p>
                    <p><strong>MacBook Pro 2019</strong></p>
                
                <img src="/images/img-samsung-galaxy-s10.jpg" width="100%">
                    <p>$70.500</p>
                    <p>10% off</p>
                    <p><strong>Samsung Galaxy S10</strong></p>

                <img src="/images/img-tv-samsung-smart.jpg" width="100%">
                    <p>$23.200</p>
                    <p>5% off</p>
                    <p><strong>SmartTv Samsung 43"</strong></p>  
         </section>
    </main>
    <footer>
            <p><strong>Pagá con tarjeta o en efectivo</strong></p>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
            <p><strong>Envío gratis desde $ 2.500</strong></p>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
            <p><strong>Seguridad, de principio a fin</strong></p>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
            <p><strong>Copyright © 1999-2020 MercadoLiebre S.R.L.</strong></p>
    </footer>
    
</body>
</html>